<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Talk</title>

    <h1>FIRE TALK</h1>
    <h3><i>An on-the-ground live feed of updates to keep you prepared for the worst!</i></h3>

    <br><br>

    <style>
    h1 {
        font-size: 75px
    }

    h3 {
        font-size: 20px
    }

    h1, h3 {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Call</th>
            <th>Description</th>
            <th>Syntax</th>
            <th>Return Type</th>
        </tr>
        <tr>
            <td>/api/info</td>
            <td>Returns n news sources based on a central city (complete with title, description, and url).</td>
            <td>/api/info?city={city}&n={n}</td>
            <td>Dictionary/Hash Table</td>
        </tr>
        <tr>
            <td>/api/moreInfo</td>
            <td>Returns n more news sources based on a central city (complete with title, description, and url).</td>
            <td>/api/moreInfo?n={n}</td>
            <td>Dictionary/Hash Table</td>
        </tr>
        <tr>
            <td>/api/nearCities</td>
            <td>Returns the nearest n cities, their coordinates, and their AQIs based on a central city.</td>
            <td>/api/nearCities?city={city}&n={n}</td>
            <td>Dictionary/Hash Table<br>*contains (mi, km), (lat, lon), and (AQI, level)*</td>
        </tr>
        <tr>
            <td>/api/tweets</td>
            <td>Returns the n most recent tweets regarding fires near a specified city.</td>
            <td>/api/tweets?city={city}&n={n}</td>
            <td>Dictionary/Hash Table</td>
        </tr>
        <tr>
            <td>/api/map</td>
            <td>Returns a Google Map based on a central city and nearby coordinates.</td>
            <td>/api/map/{city}/{geopoints}<br>*{geopoints} = lat1;lon1;lat2;lon2;...*</td>
            <td>HTML</td>
        </tr>
    </table>
</body>
</html>